@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Montserrat&family=Roboto+Mono:wght@300;400&family=Source+Sans+Pro&display=swap');
@import 'material-icons/iconfont/material-icons.css';

:root {
	--font-heading: 'Montserrat', sans-serif;
	--font-accent: 'Dongle', sans-serif;
	--font-text: 'Sans Source Pro', sans-serif;
	--font-link: 'Roboto Mono', monospace;

	--clr-primary-dark: #033750;
	--clr-primary-dark-transparent: #033750cc;
	--clr-primary-dark-transparent-33: #5d748033;
	--clr-text: #fff;
	--clr-accent: #c9b6da;
	--clr-accent-pink: #a80f57;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--clr-primary-transparent);
	color: var(--clr-accent);
	color: var(--clr-text);
	background-image: url('/static/images/brickwall.jpg');
	background-size: 100%;
	background-repeat: repeat-y;
}

h1,
h2 {
	font-family: var(--font-heading);
	color: var(--clr-accent);
}

h3,
h4,
h5 {
	font-family: var(--font-accent);
	/* color: #f01c7f; */
	color: var(--clr-accent);
	font-size: 2rem;
	font-weight: 500;
}

p {
	font-family: var(--font-text);
}

a {
	font-family: var(--font-link);
	text-decoration: none;
	color: var(--clr-accent);
}

a:hover {
	/* text-decoration: underline; */
	color: #f01c7f;
}
li {
	font-family: var(--font-link);
}

img {
	height: 200px;
	/* overflow: hidden; */
	object-fit: cover;
}
