@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Montserrat&family=Roboto+Mono:wght@300;400&family=Source+Sans+Pro&display=swap');

:root {
	--font-heading: 'Montserrat', sans-serif;
	--font-accent: 'Dongle', sans-serif;
	--font-text: 'Sans Source Pro', sans-serif;
	--font-link: 'Roboto Mono', monospace;

	--clr-primary-dark: #033750;
	--clr-primary-dark-transparent: #033750cc;
	/* --clr-primary-light: #fff; */
	--clr-text: #fff;
	--clr-accent: #c9b6da;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--clr-primary-dark);
	color: var(--clr-accent);
	color: var(--clr-text);
	background-image: url('/static/images/pexels-pixabay-220182.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

h1,
h2 {
	font-family: var(--font-heading);
	color: var(--clr-accent);
}

h3,
h4,
h5 {
	font-family: var(--font-accent);
	color: #1cf0a9;
	font-size: 1.5rem;
}

p {
	font-family: var(--font-text);
}

a {
	font-family: var(--font-link);
	text-decoration: none;
	color: var(--clr-accent);
}

a:hover {
	text-decoration: underline;
}
